.login-page {
  position: relative;
  width: 750px;
  height: 100vh;
  text-align: center;
  .title {
    margin-bottom: 60px;
  }
  .box {
    position: absolute;
    top: 24%;
    padding: 48px;
  }
  .input {
    width: 600px;
    margin-bottom: 48px;
  }
  .btn {
    width: 600px;
  }
}
